* {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
body {
    background-color: #222;
}
.logo {
    font-family: 'Caveat', cursive;
    font-size: 48px;
    color: #fff;
}
.score-title {
    font-size: 24px;
    color: #fff;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.category {
    background-color: green;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.active {
    background-color: rgb(51, 142, 51);
}
.category:first-child {
    border-radius: 10px 0 0 10px;
}
.category:last-child {
    border-radius: 0 10px 10px 0;
}

.whois {
    background-color: #303030;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: max-content 1fr;
}
.mainbird {
    border-radius: 10px;
    margin-right: 30px;
}
.name {
    color: #fff;
    font-size: 32px;
}
.divider {
    height: 1px;
    width: 100%;
    background-color: #555555;
}
.playBtn {
    position: relative;
    width: 50px;
}
.playBtn::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: -20%;
    left: -10%;
    border-radius: 50%;
    border: 5px solid #00BC8C;
}